.child {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 16px;

  &.sad {
    background: radial-gradient(
        slategray 0%,
        white 100%
    );
  }

  &.happy {
    background: radial-gradient(
        pink 0%,
        white 100%
    );
  }

  .child-text {
    width: fit-content;
    text-align: center;

    &.gradient {
      background: linear-gradient(
          to right,
          red 0%,
          blue 20%,
          yellow 40%,
          pink 60%,
          salmon 80%,
          black 100%
      );
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }

    &.warn {
      color: red;
    }

    &.success {
      color: green;
    }
  }
}
