<div>
  parent works!
</div>

<p>
  Sometimes we want to change things that require styling :host element:
</p>
<p>
  Case:
  If we had styling component: radial-gradient as a background with text in it
</p>
<h3>
  -- Position (and dimensions)
</h3>
<h5>
  if we wanted to have the ability to position the component once in top-right corner of a div or in bottom-left,
  in HostBinding approach we would need to provide multi-type Input for position, with as many options as we ever need.
  <p>
    maybe top-center will be needed as well? what if we want to also be able to set exact location in px?
  </p>
  <p>
    The type of child's 'position' Input would most likely grow enormous.
  </p>
  <p>
    The same goes for dimensions of the element, as long as we dont need to make some additional calculations on the value
    like for example in spinner-components, the Angular Input for this is completely redundant
  </p>
</h5>
<div class="wrapper--available-space">
  <app-child [position]="'top-right'">child works!</app-child>
</div>

<h5>
  It is counter-intuitive, we are supposed to position child component by modifying parent's stylesheet
</h5>

<div class="wrapper--available-space">
  <app-child-no-binding class="child--top-right">child no binding works!</app-child-no-binding>
</div>
