<div>
parent works!
</div>

<app-child class="blue" [blue]="false"></app-child>

<!-- Expected: child-component text-color to be default (red) when Input [blue] is set to false -->

<!-- Case: parent-component assigns .blue class to child-component -->

<!-- Behavior: there is single source of truth: -->
<!-- only way for parent to communicate with child is through Angular Inputs, which we can control, quickly find -->

<!-- Setbacks fixed: -->
<!-- 1. problems with refactors (like changing the class name) - relevant classnames only appear inside the component -->
<!-- 2. child component has misleading information about its state - component is completely self-contained - only component can change its state -->
<!-- 3. if child component's Input is a setter, it works horribly - all information provided by Input is complete and can't be overridden by parent -->
