:host {
  .child {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: radial-gradient(
        lightgreen 0%,
        white 100%
    );
    padding: 16px;

    .child-text {
      width: fit-content;
      text-align: center;
    }
  }

  &.gradient {
    .child-text {
      background: linear-gradient(
          to right,
          red 0%,
          blue 20%,
          yellow 40%,
          pink 60%,
          salmon 80%,
          black 100%
      );
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
  }

  &.warn {
    .child-text {
      color: red;
    }
  }

  &.success {
    .child-text {
      color: green;
    }
  }

  &.sad {
    .child {
      background: radial-gradient(
          slategray 0%,
          white 100%
      );
    }
  }

  &.happy {
    .child {
      background: radial-gradient(
          pink 0%,
          white 100%
      );
    }
  }
}
