:host {
  &.relative {
    position: relative;
  }

  &.top-right {
    position: absolute;
    top: 0;
    right: 0;
  }

  &.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .child {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(
        lightgreen 0%,
        white 100%
    );
    padding: 16px;

    .child-text {
      width: fit-content;
      background: linear-gradient(
          to right,
          red 0%,
          blue 20%,
          yellow 40%,
          pink 60%,
          salmon 80%,
          black 100%
      );
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      text-align: center;
    }
  }
}
